<html>
    <head>
        <title>'wtf'</title>
        <link rel = 'stylesheet' href="style.css">
       <%- include('fonts.ejs') %>
    </head>
    <body>
        <div class="umbrellaDiv">
            <%- include('static.ejs')%>
            <div class ="about-pageDiv">
                <div class=" aboutPage">
                    <div class='aboutText'>
                        <h class = aboutTitle>ABOUT US</h>
                        <p class = 'aboutP'>
                            Welcome to Citizen Spotlight, where you take center stage. Every couple months, three people—just like you—are randomly chosen to share something they love. It could be a crazy song, a piece of technology, or even a funny youtube video. This is your space to discover, connect, and maybe even be featured yourself. No influencers, no algorithms just real people and a little spotlight. Check back monthly to see what’s new, and who knows? Tomorrow, it could be you in the spotlight.
                            <br>
                            <br>
                            Do you want a chance to be in the spolight?<br> Email <b class ='email'>citizensspotlight@gmail.com </b>with your name, and a list of media you could potentially want shown on our site! Even if you are not chosen, we love to hear and see new media.

                        </p>

                    </div>
                    <div class="aboutImages">
                        <img class="roadPic" src="road.png" alt="road">
                        <img class='roadWalkPic' src="roadwalk.png" alt="roadwPeople">
                        <img class="postPic" src="post.png" alt="post">
                        <img class= 'signPic' src="sign.png" alt="sign">
                        <img class="carPic" src="car.png" alt="car">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
