<html>
    <head>
        <title>'wtf'</title>
        <link rel = 'stylesheet' href="style.css">
        <%- include('fonts.ejs') %>

    </head>
    <body>
        <div class="umbrellaDiv">
            <%- include('static.ejs')%>
            <div class ="past-pageDiv">
                <div class="past-issues">
                    <p class="pastIssues-title">Our Spotlights</p>
                    <a class="firstIssueLink" href="/"><b>• Issue #00001</b></a>
                </div>
                    <img class="roadPic" src="road.png" alt="road">
                    <img class='roadWalkPic2' src="roadwalk.png" alt="roadwPeople">
                    <img class= 'signPic' src="sign.png" alt="sign">
                    <img class="carPic" src="car.png" alt="car">

                
            </div>
        </div>
    </body>
</html>
