
<html>
    <head>
        <title>'wtf'</title>
        <link rel = 'stylesheet' href="style.css">
        <%- include('fonts.ejs') %>


    </head>
    <body>
        <div class="umbrellaDiv">
            <%- include('static.ejs')%>
            <div class ="pageDiv">
                <div class = 'formDiv'>
                    <p class = 'formTitle'>Super secret form</p>
                    <p class = 'formDesc'>Congratulations on making it in the Citizen's Spotlight! This form is where you’ll make your media submissions. All we need from you is the title and artists/creator, and whatever you feel you need to say about it. Whether you loved or hated, cried or laughed we want to hear it! And so does the world.<br><br> You're in the Spotlight, take a chance, tell all of the other citizens of the world what they need to look at. </p>
                  
                <!-- maybe add a div in the form witht he content  -->
                <form class = 'form' method="POST" action='<%=link%>''  enctype="multipart/form-data">
                    
                    <div id = 'profilePic'>
                        <h><b>Step 1. Profile</b></h>
                        <label for="username">Submit a picture of your beautiful face!</label>
                        <input type="file" name="profPic">
                        <input type="text" name="firstname" value="First Name">
                        <input type="text" name="lastname" value="Last Name">
                        <label >Astrology!</label>
                        <div class="astrology">
                            
                            <input type="text" name="sun" value="Sun Sign!">
                            <input type="text" name="moon" value="Moon Sign!">
                            <input type="text" name="rising" value="Rising Sign!">
                        </div>
                        <label >About You!</label>

                        <div >
                            <input type="text" name="love" value="Something You Love!">
                            <input type="text" name="hate" value="Something you Hate">
                        </div>
                        <label>Looks!</label>
                        <div class="looksform">
                            <input type="text" name="hair" value="Current Hair Color!">
                            <input type="text" name="eyes" value="Eye Color!">
                            <input type="text" name="age" value="Current Age">
                        </div>



                    </div>
                    
                    <div class="formSections">
                        <h><b>Step 2. Spotlights </b></h>
                        <input class = 'formCreator'type="text" name="user" value="Media title and creator">
                        <textarea class = 'formBox'name="message">Spotlight it!</textarea>
                        <div class = mediaUrl>
                            <label for="username">And a picture!</label>
                            <input type="file" name="media1Img">
                        </div>
                    </div>

                    <div class ='formSections'>
                        <input class = 'formCreator'type="text" name="user2" value="Media title and creator">
                        <textarea class = 'formBox'name="message2">Your personalized comment!</textarea>
                        <div class = mediaUrl>
                            <label for="username">And a picture!</label>
                            <input type="file" name="media2Img">
                        </div>
                    </div>

                    <div class = 'formSections' >
                        <input class = 'formCreator'type="text" name="user3" value="Media title and creator">
                        <textarea class = 'formBox'name="message3">Your personalized comment!</textarea>
                        <div class = mediaUrl>
                            <label for="username">And a picture!</label>
                            <input type="file" name="media3Img">
                        </div>
                    </div>
                    <h><b>Step 3. Submit!</b></h>
                    <input type="submit" name="sb" value="send message">
                    </form>
                </div>
            </div>
            
        </div>

    </body>
</html>
