<div class="sideBar">
    <div class="sideBar2">
       <a class="sideTitle" href="/">Citizen’s Spotlight</a>
       
       <div class="image-container">
           <img src="animationStill.png" class="still-image" alt="Still Image">
           <img src="animation.gif" class="gif-image" alt="GIF Image">
       </div>
   
       
       <a class="sideLinks" href="/About"><b>About</b></a>
       <a class="sideLinks" href="/pastIssues"><b>Past Issues</b></a>
       <a class="sideLinks" href="/"><b>Current Issue</b></a>
       <a class="peopleLink" href="/person1"><b>First Citizen!</b></a>
       <a class="peopleLink" href="/person2"><b>Second Citizen!</b></a>
       <a class="peopleLink" href="/person3"><b>Third Citizen!</b></a>
    </div>
</div>
   